GITHUB_APP_ID=your_app_id

PRIVATE_KEY_PATH=path_to_your_private_key

DETA_PROJECT_KEY=your_deta_project_key

WEBHOOK_SECRET=your_webhook_secret

CACHE_SIZE=size_of_fix_cache

HISTORY_SIZE=number_of_days_to_load_commit_history_on_installation

FIX_KEY_WORDS=fix_key_words_separated_by_commas

TRACKED_BRANCH=master

SKIP_PATHS=paths_to_skip_separated_by_commas